@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
  background: #000000;
  cursor: default;
}

::selection {
  background: #333333;
  color: #ffffff;
}

::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}
